.search {
	display: flex;
	min-height: 10vh;
	justify-content: center;
	align-items: center;

	&__bar {
		width: 50%;
		border: none;
		padding: 0.5rem;
		font-size: 1rem;
		max-height: 100%;
	}

	&__btn {
		background: lightcoral;
		border: none;
		max-height: 100%;
		padding: 0.5rem 1rem;
		color: white;
		font-size: 1rem;
	}
}
